Dictionarys

In [60]:
d={}

In [61]:
type(d)

dict

In [62]:
k=dict()

In [63]:
type(k)

dict

In [64]:
d={'name':'teja','per':85}

In [65]:
d['name']

'teja'

In [66]:
d['per']

85

In [67]:
d['per']=90
d

{'name': 'teja', 'per': 90}

In [68]:
d['college']='abcd'

In [69]:
d

{'name': 'teja', 'per': 90, 'college': 'abcd'}

In [70]:
del k
k

NameError: name 'k' is not defined

In [ ]:
del d['college']

In [ ]:
d

{'name': 'teja', 'per': 90}

In [ ]:
d.clear()

In [ ]:
d

{}

In [ ]:
d={'name': 'teja', 'per': 90}

In [ ]:
d

{'name': 'teja', 'per': 90}

In [ ]:
dl ={'college':'abcd'}
dl

{'college': 'abcd'}

In [ ]:
d.update(dl)

In [ ]:
d

{'name': 'teja', 'per': 90, 'college': 'abcd'}

In [ ]:
d={i:i*2 for i in range(10)}

In [ ]:
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [ ]:
d={'name':{"fname":"python","lname":'programming'},"duration":5}

In [ ]:
d

{'name': {'fname': 'python', 'lname': 'programming'}, 'duration': 5}

In [ ]:
d['name']

{'fname': 'python', 'lname': 'programming'}

In [ ]:
d['name']['lname']

'programming'

In [ ]:
d

{'name': {'fname': 'python', 'lname': 'programming'}, 'duration': 5}

In [ ]:
s=d.copy()

In [ ]:
s

{'name': {'fname': 'python', 'lname': 'programming'}, 'duration': 5}

In [ ]:
d.items()

dict_items([('name', {'fname': 'python', 'lname': 'programming'}), ('duration', 5)])

In [71]:
d={"a":3,"b":4,"c":10}

In [73]:
d.items()

dict_items([('a', 3), ('b', 4), ('c', 10)])

In [74]:
d.values()

dict_values([3, 4, 10])

In [75]:
d.keys()

dict_keys(['a', 'b', 'c'])