SETS

In [60]:
s={}
type(s)

dict

In [61]:
s=set()
type(s)

set

In [62]:
s={10,20,40,30}
s

{10, 20, 30, 40}

In [63]:
s={10,20,30,10,20,30}
s

{10, 20, 30}

In [64]:
len(s)

3

In [65]:
s.add(40)

In [66]:
s.add(50)

In [67]:
s

{10, 20, 30, 40, 50}

In [68]:
s.remove(10)

In [69]:
s

{20, 30, 40, 50}

In [70]:
s.discard(30)

In [71]:
s

{20, 40, 50}

In [72]:
s.remove(100)

KeyError: 100

In [ ]:
s.discard(100)

In [ ]:
s.pop()

40

In [ ]:
s

{20, 50}

In [ ]:
s.clear()

In [ ]:
s

set()

In [ ]:
s=(10,20,30)

In [ ]:
del s

In [ ]:
s

NameError: name 's' is not defined

In [ ]:
s=(10,20,30,40)
len(s)

4

In [ ]:
10 in s

True

In [ ]:
for i in s:
    print(i)

10
20
30
40

In [ ]:
s[0]

10

In [83]:
s=set([1,2,3,4])

In [85]:
t=set([1,2,3,4,5,6,7,8])

In [87]:
s.issubset(t)

True

In [90]:
t.issubset(s)

False

In [89]:
t.issuperset(s)

True

In [91]:
s.issuperset(t)

False

In [92]:
s.union(t)

{1, 2, 3, 4, 5, 6, 7, 8}

In [93]:
s.intersection(t)

{1, 2, 3, 4}

In [94]:
s.difference(t) #s-t (print s elements only)

set()

In [95]:
t.difference(s) #t-s

{5, 6, 7, 8}

In [96]:
s.add(10)
s

{1, 2, 3, 4, 10}

In [97]:
t

{1, 2, 3, 4, 5, 6, 7, 8}

In [99]:
s.symmetric_difference(t) #print non common elements

{5, 6, 7, 8, 10}

In [100]:
s.update(t)

In [101]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [102]:
t={1,2}

In [103]:
s.intersection_update(t)

In [104]:
s

{1, 2}

In [105]:
t

{1, 2}

In [106]:
t.difference_update(s)

In [107]:
t

set()

In [108]:
s={10,20,30}

In [109]:
t=s.copy()

In [110]:
t

{10, 20, 30}