Tuples

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
t=(10,20,30,40,50)
t

(10, 20, 30, 40, 50)

In [4]:
t[0]

10

In [5]:
t[:-1]

(10, 20, 30, 40)

In [7]:
t[::-1]

(50, 40, 30, 20, 10)

In [8]:
t[1:4]

(20, 30, 40)

In [9]:
t[2]=25

TypeError: 'tuple' object does not support item assignment

In [10]:
t

(10, 20, 30, 40, 50)

In [11]:
l=list(t)
l

[10, 20, 30, 40, 50]

In [12]:
l[2]=25
l

[10, 20, 25, 40, 50]

In [13]:
l.append(60)
l

[10, 20, 25, 40, 50, 60]

In [14]:
t=tuple(l)
t

(10, 20, 25, 40, 50, 60)

In [15]:
t1=(10,20,30)
t2=(40,50,60)
t1+t2

(10, 20, 30, 40, 50, 60)

In [16]:
t1*3

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [17]:
len(t)

6

In [18]:
t

(10, 20, 25, 40, 50, 60)

In [19]:
10 in t

True

In [20]:
100 in t

False

In [23]:
for i in t:
    print(i)

10
20
25
40
50
60

In [24]:
for i in range(len(t)):
    print(t[i])

10
20
25
40
50
60

In [25]:
t.count(10)

1